*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

a{
    text-decoration: none;
    color: #3c69ed;
}

#container-geral{
    height: 100vh;
}

#container-interno{
    margin: 0 auto; /*para centralizar no meio*/
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.coluna{
    flex-grow: 1;
    width: 50%;
}

.esquerda{
    background-image: url(./assets/main-foto.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}

.direita{
    padding-left: 20px;
}

.login-corpo{
    padding: 20px 0;
    text-align: center;
    border: 1px solid #e6e6e6;  
    background-color: white;
}

.logo-img{
    width: 175px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="password"],input[type="text"] {
    width: 320px;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid rgb(236, 234, 234);
    background-color: #ffffff;
    color: black;
}


input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: rgb(165, 164, 164);
}
input[type="text"]:focus, input[type="password"]:focus{
    outline: 0;
    border: 1px solid #a1a1a1;
}

input[type="submit"]{
    height: 30px;
    width: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    background-color: #3c69ed;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color:  #4cb5f9;
}

.info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0; /*Cima, direita e esquerda e baixo*/
    height: 60px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.info-box p, a{
    font-weight: bold;
    user-select: none;
}